#hero {
    width: 100%;
    height: 100vh;
    background: url('./image/about-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 0;

}

#text1 {
    color: peru;
}

#logo {
    font-weight: 700;
}

#menu {
    font-weight: 550;
}